    {% load static %}
    {% block content %}
    <!--Navigation Bar-->
    <div class="fixed w-full bg-blue-50 z-10">
        <nav class="flex justify-between items-center shadow-xl rounded-b-xl p-5 w-full 
            text-gray-900 font-extrabold px-20">
        
            <!--Logo-->
            <div id="logo" class="flex text-3xl text-gray-900">
                
                <button class="flex">
                    <div>
                        <p class="drop-shadow-lg">Ulicks</p>
                    </div>
                    
                    
                    <div class="ml-2">
                        <img src="{% static '/icons/Cake.svg' %}" alt="" width="35">
                    </div>
                </button>   
            </div>
            

            <!--Buttons-->
            <div class="flex gap-4">
            
                <div class="flex flex-row">                    

                    <button href="#" class="flex relative group">
                       
                        <p class="mr-2">Menu</p>
                    
                        <div class="absolute hidden group-focus:block top-full min-w-fit w-max bg-blue-50 -ml-20 mt-2 shadow-md rounded">
                            
                            <ul class="text-left border rounded text-sm">
                                <li class="px-4 py-1 hover:bg-gray-100 border-b">Birthday Cake</li>
                                <li class="px-4 py-1 hover:bg-gray-100 border-b">Traditional Wedding Cake</li>
                                <li class="px-4 py-1 hover:bg-gray-100 ">White Wedding Cake</li>
                            </ul>

                        </div>

                        <span class="mt-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </span>

                    </button>
                
                </div>

                <div class="flex flex-row">
                    
                    <button href="#" class="flex relative group">

                    <p class="mr-2">Category</p>
                    
                    <div class="absolute hidden group-focus:block top-full min-w-fit w-max bg-blue-50 -ml-4 mt-2 shadow-md rounded">
                        <ul class="text-left border rounded text-sm">
                            <li class="px-4 py-1 hover:bg-gray-100 border-b">Vanilla Cake</li>
                            <li class="px-4 py-1 hover:bg-gray-100 border-b">Chocolate Cake</li>
                            <li class="px-4 py-1 hover:bg-gray-100 border-b">Strawberry Cake</li>
                            <li class="px-4 py-1 hover:bg-gray-100 border-b">Butterscotch Cake</li>
                        </ul>
                    </div>
                    
                    <span class="mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>

                    </button>
                    
                </div>
                    
                <div class="flex flex-row px-5">
                    
                    <!-- Search Bar-->
                    <input type="search" class="w-23 h-7 rounded-xl border shadow-inner border-blue-100"></input>

                    <button href="#" class="ml-2 hover:scale-110 duration-200">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                    
                </div>
            </div>
            
            <!--Buttons-->
            <div class="flex rounded-xl p-2 shadow-md border">
                
                <!-- Cart button -->
                <div class="flex flex-row px-4 ml-2">
                    
                    <button class="hover:scale-110 duration-200">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>

                    </button>
                
                </div>
                
                <!-- User button -->
                <div class="flex flex-row px-5">
                    
                    <button href="#" class="flex relative group hover:scale-110 duration-200">

                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                            </svg>
                        </div>            

                        <div class="absolute hidden group-focus:block top-full min-w-fit w-max bg-blue-50 -ml-4 mt-2 shadow-md rounded">
                            <ul class="text-left border rounded text-sm">
                                <li class="px-4 py-1 hover:bg-gray-100 border-b">Log in</li>
                                
                                <a href="{% static 'register' %}">
                                    <li class="px-4 py-1 hover:bg-gray-100 border-b">Register</li>
                                </a>
                                
                            </ul>
                        </div>

                    </button>
                    
                </div>
            </div>
    
        </nav>
    </div>
    {% endblock %}